* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #006620;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 40px;
  background-color: white;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.logo {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 10;
}
.logo-ASDIC {
  text-align: center;
  padding: 10px;
}
.logo-ASDIC img {
  width: 100px;
  height: auto;
}